.GamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GamePage-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 20px;
}